@using Templetotemo101Saleh.Models
@model ProductCreateVM
<div class="container">
<div class="row">


        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Description">
            <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Enter Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" class="form-control" placeholder="Enter Rating">
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Enter Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" placeholder="Enter Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
               <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.Categories" >
                   @* @foreach (Category category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            } *@
               
               </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

          
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
</div>

@section Scripts{

}
<partial name="_ValidationScriptsPartial"></partial>
              